// .note-card-container{
//     display: flex;
//     .note-card{
//         .note-card-content{
//             width: 150px;
//             height: 150px;
//             display: flex;
//             flex-direction: column;
//             mat-card-header{
//                 font-weight: bold;
//             }
//             .material-icons{
//                 font-size: 20px;
//             }
//             .icons{
//                 display: flex;
//                 .left{
//                 }
//                 .right{
//                 }
//             }
//         }
//     }
// }
.note-card-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    .note-card-content{
        width: 150px;
        height: 150px;
        background-color: beige;
        margin: 15px;
        mat-card-header{
            font-weight: bold;
        }
        .material-icons{
            font-size: 20px;
        }
    }
}