<div class="note-card-container">
    <ng-container *ngFor="let note of notes" class="note-card">
    <!--
    <mat-card (click)="showNote(note)">
    -->
    <!-- <mat-card class="note-card-content" [style.background-color]="getBgColorByNoteId(note.id)"> -->
        <mat-card class="note-card-content">
            <mat-card-header>
                {{note.title}}
            </mat-card-header>

            <mat-card-content>
                {{note.description}}
            </mat-card-content>
        
            <mat-icon>forward</mat-icon>
            <mat-icon>star_half</mat-icon>
            <mat-icon>done</mat-icon>
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </mat-card>
    </ng-container>
</div>