<!-- Structural directive, *ngFor, creates a DOM (Document Object Model) element for each element in the 'notes' array from note.component.ts -->
<div *ngFor="let note of notes">
    <mat-card class="note">
        <mat-card-header class="note-title">
            <!-- Interpolation (data binding) for displaying note.title -->
            {{note.title}}
        </mat-card-header>
    
        <mat-card-content class="card-content">
            <!-- Interpolation (data binding) for displaying note.description -->
            {{note.description}}
        </mat-card-content>
        
        <mat-card-actions class="card-buttons">
            <div>
                <mat-icon>forward</mat-icon>
                <mat-icon>star_half</mat-icon>
                <mat-icon>done</mat-icon>
            </div>
    
            <div>
                <!-- TO DO: Event binding for editing an existing note -->
                <mat-icon>edit</mat-icon>
                <!-- Event binding that calls 'deleteNote()' method from note.component.ts -->
                <mat-icon (click)="deleteNote(note.id)">delete</mat-icon>
            </div>
        </mat-card-actions>
    </mat-card>
</div>